<li *ngIf="pokemon" class="mb-4 shadow bg-white rounded relative">
    <app-captured-button #isAshe [pokemonName]="pokemon.name"></app-captured-button>

    <section class="p-4">
        <img [src]="pokemon.image" [alt]="pokemon.name" class="block w-72">
    </section>
    <section class="p-4">
        <span class="test-xl">{{pokemon.name}}</span>
    </section>
</li>