<nav class="bg-yellow-500 flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <span class="animate__animated animate__flash">
        <a routerLink="/pokemons">
            <img src="../../../assets/img/pokemon_logo_nav.png" class="max-h-9"alt="">
        </a>
    </span>
    <ng-container *ngIf="trainer !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemons">Pokemons</a>
            </li>
            <li class="px-4">
                <a routerLink="/trainer">Trainer</a>
            </li>
        </ul>

    </ng-container>
</nav>