<header class="container mx-auto p-4">
    <h1 class="text-3xl text-white">Welcome {{trainer?.username}}</h1>
</header>
<main class="container mx-auto p-4">
    <h4 class="text-3xl text-white">Your captured pokemons</h4>
    <app-pokemon-list [pokemons]="captured"></app-pokemon-list>
</main>