<aside class="absolute top-4 right-4">
    <button 
    (click)="onCapturedClick()"
    class="border border-slate-300 rounded flex justify-center item-center p-2 text-pink-600">
    
    <ng-container *ngIf="!loading; else spinner">
        <span *ngIf="isCaptured; then captured else notCaptured" class="material-icons" ></span>    
        <ng-template #captured >
            <span class="animate__animated animate__shakeY">
                <img src="../../../assets/img/closedpokemonball.png" class="max-h-9" alt="">
            </span>
        </ng-template>
        <ng-template #notCaptured>
            <span >
                <img src="../../../assets/img/openpokemonball.png" class="max-h-9" alt="">
            </span>
        </ng-template>

    </ng-container>
    
    <ng-template #spinner>
        <span class="material-icons animate-spin">refresh</span>
    </ng-template>
    
    </button>
</aside>