<main class="container mx-auto p-4">
    <p *ngIf="loading">Loading pokemons...</p>
    <img src="../../../assets/img/pokemon_logo.png" class="max-h-150 self-center pb-10" alt="" style="margin-left: 25% ">
    

    <app-pokemon-list [pokemons]="pokemons"></app-pokemon-list>
</main>